* {
  box-sizing: border-box;
  margin: 0px;
}

.navbar {
  margin: 0;
  background-color: lightblue;
}

.page-title {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 15px;
}

.row {
  margin: 5px;
}

.menu-item {
  background-color: lightblue;
}

.menu-title {
  font-size: 1.2em;
  margin-top: 5px;
}

@media (max-width: 767px) {
  #bs-navbar-collapse {
    background-color: lightblue;
  }

}
